<section>
  <mat-card>
  <form (submit)="onLogin(postForm)" #postForm="ngForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

    <!--ID POLJE-->
    <mat-form-field [style.display]="'none'">
      <input matInput name="_id" [(ngModel)]="loginService.selectedProfile._id" required #_id="ngModel">
    </mat-form-field>

    <!--USERNAME POLJE-->
    <mat-form-field>
      <input matInput type="text" name="username" [(ngModel)]="loginService.selectedProfile.username" required #name="ngModel" placeholder="Please enter your username">
      <mat-error *ngIf="name.invalid">Please enter your username</mat-error>
    </mat-form-field>

    <!--PASSWORD POLJE-->
    <mat-form-field>
      <input matInput type="password" name="password" [(ngModel)]="loginService.selectedProfile.password" required #password="ngModel" placeholder="Please enter your password">
      <mat-error *ngIf="name.invalid">Please enter your password</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>

    <button [routerLink]="'/signup'" mat-raised-button color="primary" type="submit"> Don't have an account? Click here to signup </button>
  </form>
</mat-card>
</section>
