<mat-card>

  <form (submit)="onLogin(postForm)" #postForm = "ngForm">

    <!--USERNAME POLJE-->
    <mat-form-field>
      <input matInput type="text" name="username" ngModel required #name="ngModel" placholder="Please enter your username...">
      <mat-error *ngIf="name.invalid">Please enter your username</mat-error>
    </mat-form-field>

    <!--PASSWORD POLJE-->
    <mat-form-field>
      <input matInput type="password" name="password" ngModel required #password="ngModel" placholder="Please enter your password...">
      <mat-error *ngIf="name.invalid">Please enter your password</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>

</mat-card>
