<section>
    <h1 mat-dialog-title fxLayoutAlign="center"> Added to shopping cart </h1>
    <mat-dialog-content fxLayoutAlign="center"> 
        <div>
            ime bombone
            <br>
            cena bombone
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="space-between">
        <button mat-raised-button color="accent" [mat-dialog-close]="true"> Ok </button>
        <button mat-raised-button color="accent" routerLink="/orders" [mat-dialog-close]="true"> View cart </button>
    </mat-dialog-actions>
</section>