<!-- SEARCH BAR-->
<div fxLayoutAlign="center center">
    <mat-icon color="primary"> search </mat-icon>
    <mat-form-field fxFlex="20%">
        <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Search">
    </mat-form-field>
</div>

<mat-table [dataSource]="candySource" matSort>
    <!-- NAME COLUMN -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- WEIGHT COLUMN -->
    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.weight }}g </mat-cell>
    </ng-container>

    <!-- PRICE COLUMN -->
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }}$ </mat-cell>
    </ng-container>

    <!-- PICTURE COLUMN -->
    <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.picture }} </mat-cell>
    </ng-container>

    <!-- CATEGORY COLUMN -->
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
    </ng-container>

    <!-- DESCRIPTION COLUMN -->
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <!-- SHIPPING COLUMN -->
    <ng-container matColumnDef="shipping">
      <mat-header-cell *matHeaderCellDef> Shipping </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.shipping }} hours </mat-cell>
    </ng-container>

    <!-- RATING COLUMN -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.rating }} <mat-icon id="star">star</mat-icon> </mat-cell>
    </ng-container>

    <!-- ORDER COLUMN -->
    <ng-container matColumnDef="order" >
      <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button [disabled]="!this.loggedIn" mat-raised-button color="accent" (click)="openCart(element)">
            <span *ngIf="!this.loggedIn">Please login to order</span>
            <span *ngIf="this.loggedIn">Add to cart</span>
            <mat-icon> shopping_cart </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>

<div>
    <mat-paginator [pageSize]="3" [pageSizeOptions]="[2, 4, 6, 8, 10]"></mat-paginator>
</div>
