<section>
<mat-card fxLayoutAlign="center center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)">

      <!--ID POLJE-->
      <mat-form-field [style.display]="'none'">
        <input matInput name="_id" required>
      </mat-form-field>

      <!--USERNAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="username" required placeholder="Desired username" ngModel #usernameInput="ngModel">
        <mat-error *ngIf="usernameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--PASSWORD POLJE-->
      <mat-form-field hintLabel="Please enter a minimum of 6 characters!">
        <input matInput type="password" name="password" required minlength="6" placeholder="Desired password" ngModel #passwordInput="ngModel">
        <mat-hint align="end"> {{ passwordInput.value?.length }} / 6 </mat-hint>
        <mat-error *ngIf="passwordInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--NAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="name" required placeholder="Your first name" ngModel #nameInput="ngModel">
        <mat-error *ngIf="nameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--SURNAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="surname" required placeholder="Your last name" ngModel #surnameInput="ngModel">
        <mat-error *ngIf="surnameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--ADRESS POLJE-->
      <mat-form-field>
        <input matInput type="text" name="adress" required placeholder="Your adress" ngModel #adressInput="ngModel">
        <mat-error *ngIf="adressInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--NUMBER POLJE-->
      <mat-form-field>
        <input matInput type="tel" name="number" required placeholder="Your phone number" ngModel #numberInput="ngModel" pattern="^(\+381)?(\s|-)?6(([0-6]|[8-9])\d{7}|(77|78)\d{7}){1}$">
        <mat-hint> Example: +381 601254671 </mat-hint>
        <mat-error *ngIf="numberInput.hasError('required')">Field should not be empty</mat-error>
        <mat-error *ngIf="numberInput.hasError('pattern')">Enter the right format</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid"> Signup </button>

      <button [routerLink]="'/login'" mat-raised-button color="primary" type="submit" [disabled]="f.valid"> Allready have an account? Click here to login </button>
    </form>
</mat-card>
</section>
