<section>
<mat-card fxLayoutAlign="center center">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (submit)="onRegister(f)">

      <!--ID POLJE-->
      <mat-form-field [style.display]="'none'">
        <input matInput name="_id" required>
      </mat-form-field>

      <!--USERNAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="username" required placeholder="Desired username" ngModel #usernameInput="ngModel">
        <mat-error *ngIf="usernameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--PASSWORD POLJE-->
      <mat-form-field hintLabel="Please enter a minimum of 6 characters!">
        <input matInput type="password" name="password" required minlength="6" placeholder="Desired password" [type]="hide ? 'password' : 'text'" ngModel #passwordInput="ngModel">
        <mat-icon matSuffix (click)="hide = !hide"> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
        <mat-hint align="end"> {{ passwordInput.value?.length }} / 6 </mat-hint>
        <mat-error *ngIf="passwordInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--NAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="firstname" required placeholder="Your first name" ngModel #nameInput="ngModel">
        <mat-error *ngIf="nameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--SURNAME POLJE-->
      <mat-form-field>
        <input matInput type="text" name="lastname" required placeholder="Your last name" ngModel #surnameInput="ngModel">
        <mat-error *ngIf="surnameInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--ADRESS POLJE-->
      <mat-form-field>
        <input matInput type="text" name="address" required placeholder="Your address" ngModel #adressInput="ngModel">
        <mat-error *ngIf="adressInput.hasError('required')">Field should not be empty</mat-error>
      </mat-form-field>

      <!--NUMBER POLJE-->
      <mat-form-field>
        <input matInput type="tel" name="phone" required placeholder="Your phone number" ngModel #phoneInput="ngModel" pattern="^(\+381)?(\s|-)?6(([0-6]|[8-9])\d{7}|(77|78)\d{7}){1}$">
        <mat-hint> Example: +381 601 254 671 </mat-hint>
        <mat-error *ngIf="phoneInput.hasError('required')">Field should not be empty</mat-error>
        <mat-error *ngIf="phoneInput.hasError('pattern')">Enter the right format</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid"> Signup </button>
      <mat-label style="color:red" id="ertx"></mat-label>

      <button [routerLink]="'/login'" mat-raised-button color="primary" type="submit" [disabled]="f.valid"> Allready have an account? Click here to login </button>
    </form>
</mat-card>
</section>
