<section>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
        <mat-nav-list>
            <h2> Menu </h2>

            <a mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon> home </mat-icon>
                Home
            </a>

            <a mat-list-item routerLink="/login" (click)="sidenav.close()" *ngIf="!this.loggedIn">
                <mat-icon> input </mat-icon>
                Login
            </a>

            <a mat-list-item routerLink="/signup" (click)="sidenav.close()" *ngIf="!this.loggedIn">
                <mat-icon> face </mat-icon>
                Signup
            </a>

            <a mat-list-item (click)="openProfile()" (click)="sidenav.close()" *ngIf="this.loggedIn">
                <mat-icon> person </mat-icon>
                Profile
            </a>

            <a mat-list-item routerLink="/candy" (click)="sidenav.close()">
                <mat-icon> cake </mat-icon>
                Products
            </a>

            <a mat-list-item routerLink="/orders" (click)="sidenav.close()" *ngIf="this.loggedIn">
                <mat-icon> shopping_cart </mat-icon>
                Shopping cart
            </a>

            <a mat-list-item (click)="logout()" (click)="sidenav.close()" *ngIf="this.loggedIn">
                <mat-icon> login </mat-icon>
                Log out
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="!this.loggedIn">
            <div>
                <button  mat-raised-button color="accent" (click)="sidenav.toggle()">
                    <mat-icon> menu </mat-icon>
                </button>
            </div>

            <!-- LINKOVI ZA DUPLI MENI -->
            <div id="links" fxFlex fxLayoutAlign="center" fxLayoutGap="30px" fxHide.xs>
                <div class="dropdown">
                    <a href="#"> About us </a>
                    <div class="dropdown-content">
                        <h1>
                            A text about us
                        </h1>
                      </div>
                </div>

                <div class="dropdown">
                    <a routerLink="/candy"> Products </a>
                    <div class="dropdown-content">
                        <div class="row">
                            <a class="chocolate">Chocolates</a>
                            <a class="macarons">Macarons</a>
                            <a class="hcandy">Hard candy</a>
                        </div>

                        <div class="row">
                            <a class="sour">Sour candy</a>
                            <a class="canes">Candy canes</a>
                            <a class="gummies">Gummies</a>
                        </div>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#"> Contact </a>
                    <div class="dropdown-content">
                        <h1> Please contact us on this email</h1>
                      </div>
                </div>
            </div>

            <!-- LOGO -->
            <div id="logo">
                <a routerLink="/"> Candy Playground </a>
            </div>

            <!-- DUGMICI ZA NAVIGACIJU -->
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <a routerLink="/"> Home </a>
                <a routerLink="/login"> Login </a>
                <a routerLink="/signup"> Signup </a>
            </div>
        </mat-toolbar>


        <!-- DRUGI TOOLBAR NGIF -->
        <!-- DRUGI TOOLBAR NGIF -->
        <!-- DRUGI TOOLBAR NGIF -->

        <mat-toolbar color="primary" *ngIf="this.loggedIn">
          <div>
              <button  mat-raised-button color="accent" (click)="sidenav.toggle()">
                  <mat-icon> menu </mat-icon>
              </button>
          </div>

          <!-- LINKOVI ZA DUPLI MENI -->
          <div id="links" fxFlex fxLayoutAlign="center" fxLayoutGap="30px" fxHide.xs>
              <div class="dropdown">
                  <a href="#"> About us </a>
                  <div class="dropdown-content">
                      <h1>
                          A text about us
                      </h1>
                    </div>
              </div>

              <div class="dropdown">
                  <a routerLink="/candy"> Products </a>
                  <div class="dropdown-content">
                      <div class="row">
                          <a class="chocolate">Chocolates</a>
                          <a class="macarons">Macarons</a>
                          <a class="hcandy">Hard candy</a>
                      </div>

                      <div class="row">
                          <a class="sour">Sour candy</a>
                          <a class="canes">Candy canes</a>
                          <a class="gummies">Gummies</a>
                      </div>
                  </div>
              </div>

              <div class="dropdown">
                  <a href="#"> Contact </a>
                  <div class="dropdown-content">
                      <h1> Please contact us on this email</h1>
                    </div>
              </div>
          </div>

          <!-- LOGO -->
          <div id="logo">
              <a routerLink="/"> Candy Playground </a>
          </div>

          <!-- DUGMICI ZA NAVIGACIJU -->
          <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
              <a routerLink="/"> Home </a>
              <a routerLink="/" (click)="logout()"> Logout</a>
              <button mat-raised-button color="accent" (click)="openProfile()" >   {{ loginService.getUserName() }} </button>
              <!-- SIGN UP JE BIO OVDE-->
              <button mat-raised-button color="accent" routerLink="/orders"> <mat-icon> shopping_cart </mat-icon> </button>

          </div>
      </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

    <!-- FOOTER -->
    <footer>
        <div fxFlex fxLayoutAlign="start" fxLayoutGap="30px">
            <a routerLink="/contact">
                Contact us
            </a>
        </div>

        <div fxFlex fxLayoutAlign="center" fxLayoutGap="30px" *ngIf="!this.loggedIn">
            <a routerLink="/">
                Home
            </a>

            <a routerLink="/login">
                Login
            </a>

            <a routerLink="/signup">
                Signup
            </a>
        </div>

        <div fxFlex fxLayoutAlign="center" fxLayoutGap="30px" *ngIf="this.loggedIn">
            <a routerLink="/">
                Home
            </a>

            <a routerLink="/candy">
                Candies
            </a>

            <a routerLink="/orders">
                Orders
            </a>
        </div>

        <div fxFlex fxLayoutAlign="end" fxLayoutGap="30px">
            <a href="#">
                Aleksandar Petrović
                &#169;
            </a>

            <a href="#">
                Marko Čupić
                &#169;
            </a>
        </div>
    </footer>
</section>
