<section>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
        <mat-nav-list>
            <h2> Menu </h2>

            <a mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon> home </mat-icon>
                Home
            </a>

            <a mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon> input </mat-icon>
                Login
            </a>

            <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
                <mat-icon> face </mat-icon>
                Signup
            </a>

            <a mat-list-item (click)="openProfile()" (click)="sidenav.close()">
                <mat-icon> person </mat-icon>
                Profile
            </a>

            <a mat-list-item routerLink="/candy" (click)="sidenav.close()">
                <mat-icon> cake </mat-icon>
                Candy
            </a>

            <a mat-list-item routerLink="/orders" (click)="sidenav.close()">
                <mat-icon> shopping_cart </mat-icon>
                Shopping cart
            </a>

            <!-- KADA BUDEMO DODALI LOGGED IN/OUT
                <a mat-list-item routerLink="/">
                    <mat-icon> exit_to_app </mat-icon>
                    Logout
                </a> -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button  mat-raised-button color="accent" (click)="sidenav.toggle()">
                    <mat-icon> menu </mat-icon>
                </button>
            </div>

            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <a routerLink="/"> Home </a>
                <a routerLink="/login"> Login </a>
                <a routerLink="/signup"> Signup </a>
                <a routerLink="/candy"> Candy </a>
                <button mat-raised-button color="accent" routerLink="/orders"> <mat-icon> shopping_cart </mat-icon> </button>
                <button mat-raised-button color="accent" (click)="openProfile()" > {{ this.loginService.currentUser.firstname }} </button>
            </div>
        </mat-toolbar>

        <button mat-raised-button id="chatbot"> <mat-icon> forum </mat-icon> </button>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

    <!-- FOOTER -->
    <footer fxFlex fxLayoutAlign="center" fxLayoutGap="50px">
        <div>
            <a href="https://www.instagram.com/al_petrovic/" target="_blank">
                <mat-icon> account_box </mat-icon>
                Aleksandra Petrović
            </a> 
        </div> 

        <div>
            <a href="https://www.instagram.com/_cupic_m/" target="_blank">
                <mat-icon> account_box </mat-icon>  
                Marko Čupić 
            </a>
        </div>
    </footer>
</section>