section {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

#logo {
    align-self: center;
}

#logo a {
    color: #78909c;
}

#logo h1 {
    margin-top: 10px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
    margin: 20px;
    margin-top: 70px;
    border-radius: 20px;
    height: 90%;
}

mat-sidenav a {
    color: #78909c;
}

mat-sidenav mat-icon {
    color:#78909c;
    margin-right: 15px;
}

h2 {
    color:#78909c;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: lightgrey;
}

mat-icon {
    color: white;
}

input {
    width: 400px;
}

#chatbot {
    height: fit-content;
    position: absolute;
    right: 105px;
    bottom: 110px;
    background-color: #78909c;
}

#chatbot mat-icon {
    transform: scale(1.5);
    color: white;
}
