section {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

#logo {
    align-self: center;
}

#logo a {
    color: #78909c;
}

#logo h1 {
    margin-top: 10px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
    margin: 20px;
    margin-top: 77px;
    border-radius: 20px;
    height: 90%;
}

mat-sidenav a {
    color: #78909c;
}

mat-sidenav mat-icon {
    color:#78909c;
    margin-right: 15px;
}

h2 {
    color:#78909c;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: lightgrey;
}

mat-icon {
    color: white;
}

input {
    width: 400px;
}

#chatbot {
    height: fit-content;
    position: absolute;
    right: 55px;
    bottom: 35px;
    background-color: #78909c;
}

#chatbot mat-icon {
    transform: scale(1.5);
    color: white;
}

footer {
    background-color: #78909c;
}

footer div {
    margin: 10px;
}

#links a {
    text-decoration: underline;
}

#links a:hover{
    text-decoration: none;
}
  
/* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #78909c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Dropdown links on hover */
.dropdown-content a:hover {
    background-color: #b0bec5;
    border-radius: 15px;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content h1 {
    margin: 10px;
}

.dropdown-content mat-card {
    background-color: #b0bec5;
    border-radius: 15px;
    width: 800px;
    height: 500px;
}