<div fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" [mat-dialog-close]="true" *ngIf="!this.isEditing">
        <mat-icon matListIcon> close </mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="goBack()" *ngIf="this.isEditing">
        <mat-icon matListIcon> reply </mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="this.isEditing = !this.isEditing" *ngIf="!this.isEditing">
        <mat-icon matListIcon> edit </mat-icon>
    </button>

    <button *ngIf="this.isEditing" mat-raised-button type="submit" color="accent" [disabled]="!editForm.valid" (click)="finishEditing(editForm)">
        <mat-icon matListIcon> save </mat-icon>
    </button>

    <!-- *ngIf="this.profileForInput.id == this.loginService.currentUser.id" -->
</div>
<br>

<mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="3vh" #editForm="ngForm" (ngSubmit)="finishEditing(editForm)">
    <!-- ID -->
    <mat-form-field [style.display]="'none'">
      <input matInput type="text" name="_id" [ngModel]="this.profileForInput._id" required _id #_id="ngModel">
    </mat-form-field>

    <!-- USERNAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>how_to_reg</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Username</mat-card-subtitle>
                <span>{{ this.profileForInput.username }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Your username" [ngModel]="this.profileForInput.username" name="username"  username required #usernameInput="ngModel">
                <mat-error *ngIf="usernameInput.hasError('required')">Username is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- PASSWORD -->
    <mat-card *ngIf="this.isEditing">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>lock</mat-icon>

            <mat-form-field hintLabel="Minimum 6 characters">
                <input matInput type="password" placeholder="Enter your password." [type]="hide ? 'password' : 'text'" [ngModel]="this.profileForInput.password" name="password" minlength="6" password required #passwordInput="ngModel">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint align="end">{{passwordInput.value?.length}}/6</mat-hint>
                <mat-error *ngIf="passwordInput.hasError('required')"> Password is required! </mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- FIRST NAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>account_box</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>First name</mat-card-subtitle>
                <span>{{ this.profileForInput.firstname }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="First name" [ngModel]="this.profileForInput.firstname" name="firstname" required #firstnameInput="ngModel">
                <mat-error *ngIf="firstnameInput.hasError('required')">First name is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- LAST NAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>account_box</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Last name</mat-card-subtitle>
                <span>{{ this.profileForInput.lastname }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Last name" [ngModel]="this.profileForInput.lastname" name="lastname" required #lastnameInput="ngModel">
                <mat-error *ngIf="lastnameInput.hasError('required')">Last name is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- ADDRESS -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>location_on</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Address</mat-card-subtitle>
                <span>{{ this.profileForInput.address }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Address" [ngModel]="this.profileForInput.address" name="address" required #adressInput="ngModel">
                <mat-error *ngIf="adressInput.hasError('required')">Address is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- PHONE -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>call</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Phone number</mat-card-subtitle>
                <span>{{ this.profileForInput.phone }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Your phone" [ngModel]="this.profileForInput.phone" name="phone" required #phoneInput="ngModel">
                <mat-error *ngIf="phoneInput.hasError('required')">Adress is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <button *ngIf="this.isEditing" mat-raised-button type="submit" color="accent" [disabled]="!editForm.valid"> Save user </button>
    </form>
    <br>
</mat-dialog-content>
