<div fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" [mat-dialog-close]="true" *ngIf="!this.isEditing">
        <mat-icon matListIcon> close </mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="goBack()" *ngIf="this.isEditing" [disabled]="!editForm.valid">
        <mat-icon matListIcon> reply </mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="this.isEditing = !this.isEditing" *ngIf="!this.isEditing">
        <mat-icon matListIcon> edit </mat-icon>
    </button>

    <button *ngIf="this.isEditing" mat-raised-button type="submit" color="accent" [disabled]="!editForm.valid" (click)="finishEditing(editForm)">
        <mat-icon matListIcon> save </mat-icon>
    </button>

    <!-- *ngIf="this.profileForInput.id == this.loginService.currentUser.id" -->
</div>
<br>

<mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="3vh" #editForm="ngForm" (ngSubmit)="finishEditing(editForm)">
    <!-- USERNAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>how_to_reg</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Username</mat-card-subtitle>
                <span>{{ this.loginService.currentUser.username }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Your username" ngModel name="username" [(ngModel)]="this.loginService.currentUser.username" username required #usernameInput="ngModel">
                <mat-error *ngIf="usernameInput.hasError('required')">Username is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- PASSWORD -->
    <mat-card *ngIf="this.isEditing">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>lock</mat-icon>
            
            <mat-form-field hintLabel="Minimum 6 characters">
                <input matInput type="password" placeholder="Enter your password." ngModel name="password" minlength="6" [(ngModel)]="this.loginService.currentUser.password" password required #passwordInput="ngModel">
                <mat-hint align="end">{{passwordInput.value?.length}}/6</mat-hint>
                <mat-error *ngIf="passwordInput.hasError('required')"> Password is required! </mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- FIRST NAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>account_box</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>First name</mat-card-subtitle>
                <span>{{ this.loginService.currentUser.firstname }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="First name" ngModel name="firstname" [(ngModel)]="this.loginService.currentUser.firstname" required #firstnameInput="ngModel">
                <mat-error *ngIf="firstnameInput.hasError('required')">First name is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- LAST NAME -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>account_box</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Last name</mat-card-subtitle>
                <span>{{ this.loginService.currentUser.lastname }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Last name" ngModel name="lastname" [(ngModel)]="this.loginService.currentUser.lastname" required #lastnameInput="ngModel">
                <mat-error *ngIf="lastnameInput.hasError('required')">Last name is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- ADRESS -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>location_on</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Address</mat-card-subtitle>
                <span>{{ this.loginService.currentUser.address }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Address" ngModel name="address" [(ngModel)]="this.loginService.currentUser.address" required #adressInput="ngModel">
                <mat-error *ngIf="adressInput.hasError('required')">Adress is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <!-- PHONE -->
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <mat-icon>call</mat-icon>
            <div fxLayout="column" *ngIf="!this.isEditing">
                <mat-card-subtitle>Phone number</mat-card-subtitle>
                <span>{{ this.loginService.currentUser.phone }}</span>
            </div>

            <mat-form-field *ngIf="this.isEditing">
                <input matInput type="text" placeholder="Your phone" ngModel name="phone" [(ngModel)]="this.loginService.currentUser.phone" required #phoneInput="ngModel">
                <mat-error *ngIf="phoneInput.hasError('required')">Adress is required!</mat-error>
            </mat-form-field>
        </div>
    </mat-card>

    <button *ngIf="this.isEditing" mat-raised-button type="submit" color="accent" [disabled]="!editForm.valid"> Save user </button>
    </form>
    <br>
</mat-dialog-content>