<section id="wrapper">
    <div id="candy" fxFlex fxLayoutAlign="center" fxLayoutGap="50px">
        <mat-card>
            <div class="candyimg">
                 <a routerLink="/login" id="img1"> </a>
            </div>

            <div class="candyimg">
                <a routerLink="/login" id="img2"> </a>
            </div>
        </mat-card>

        <mat-card>
            <div class="candyimg">
                <a routerLink="/login" id="img3"> </a>
            </div>

            <div class="candyimg">
                <a routerLink="/login" id="img4"> </a>
            </div>
        </mat-card>

        <mat-card>
            <div class="candyimg">
                <a routerLink="/login" id="img5"> </a>
            </div>

            <div class="candyimg">
                <a routerLink="/login" id="img6"> </a>
            </div>
        </mat-card>
    </div>

    <!--<footer> 
        <mat-card> 
            <div class="footerimg">
                <a routerLink="/login" id="img7"> </a>
            </div>
        </mat-card>
    </footer>-->

</section>