#wrapper {
    height: 92.8%;
}

#candy {
    height: 50%;
    max-width: fit-content;
    align-self: center;
    position: absolute;
    left: 650px;

}

mat-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.candyimg {
    height: 150px;
    width: 160px;
}

a {
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    border-radius: 80px;

    display: block;
    width: 160px;
    height: 150px;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

#img1 {
    background-image: url('../../../../Res/chocolate.jpg');
}

#img2 {
    background-image: url('../../../../Res/minon.jpg');
}

#img3 {
    background-image: url('../../../../Res/worms.jpg');
}

#img4 {
    background-image: url('../../../../Res/lolipop.jpg');
}

#img5 {
    background-image: url('../../../../Res/rainbowcandy.jpg');
}

#img6 {
    background-image: url('../../../../Res/candy.jpg');
}

footer {
    position: relative;
    top: 610px;
    left: 650px;
    height: 150px;
    width: 675px;
}

footer mat-card {
    border-radius: 20px;
    display: flex;
    height: fit-content;
}

#footerimg {
    height: 100px;
    width: 600px;
    border: 1px solid black;
}

#img7 {
    background-image: url('../../../../Res/footercandy.jpg');
}

.candyimg :hover {
    border-radius: 20px;
    box-shadow: 15px;
}