#wrapper {
    height: 92.8%;
}

#candy {
    height: 50%;
    max-width: fit-content;
    align-self: center;
    position: absolute;
    left: 650px;
}

#chatbot {
    height: fit-content;
    position: absolute;
    right: 105px;
    bottom: 110px;
    background-color: #ea80fc;
}

mat-icon {
    transform: scale(1.5);
    color: white;
}